<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UsersAccountsApp"
        android:icon="@drawable/ic_users_accounts_app"
        android:label="@string/app_name_fr"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Connect"
        tools:targetApi="34">
        <activity
            android:name=".CourrielActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ConnectWithBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ConnectWithBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UsagerActivity"
            android:theme="@style/Base.Theme.ConnectWithBar"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ConnectWithBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>